*.xcuserstate
*.xcbkptlist
*DS_Store
*.o
*.la
*.dylib
*ebin/
web/mychat/deps/
web/mychat/logs/
web/mychat/rel/
data/
c_client/gdb.ini
c_client/objs/
web/fullchinese/node_modules/
*xcuserdata/
*xcuserdatad/
*.sublime-project
*.sublime-workspace
.codeintel/
web/mychat/apps/emc/
*DerivedData/

